.form_container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 15px;
  margin: 30px auto;
  padding: 20px 10px;
  border: 1px solid #282c34;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(246, 246, 241);
}

.form_container input,
.form_container textarea {
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 1rem;
}

.form_container input:focus,
.form_container textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form_container textarea {
  min-height: 80px;
  resize: none;
}

.form_container button {
  display: block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.form_container button:hover {
  background-color: #0056b3;
}
